<form action="/names" method="post">
  <p>Please enter players names:</p>
  <input type="text" name="player_1" placeholder="Player 1" />
  <input type="text" name="player_2" placeholder="Player 2" />
  <button type="submit" value="Submit">Submit</button>
</form>